@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Macondo+Swash+Caps&family=Metamorphous&family=Nova+Oval&family=Special+Elite&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    background: rgb(230 231 232)
}

/* body {
    transform: scale(0.95);
    transform-origin: top left; 
  } */


/* html, body {
    overflow-x:  scroll;
    overflow-y: hidden;
    height: 100%;
  } */

  body { width: 100%; height: 100%; overflow:hidden;}